<div>
  <h3>Login</h3>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-item">
      <label for="username" class="label">Enter username</label>
      <input type="text" id="username" placeholder="Enter username" required [(ngModel)]="username" name="username">
    </div>
    <div class="form-item">
      <label for="username" class="label">Enter password</label>
      <input type="password" id="password" placeholder="Enter username" [(ngModel)]="password" name="password">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>