<div>
  <div class="row">
    <h2 class="col-md-4">My Transactions</h2>
    <h6 class="col-md-2" *ngIf="isMonthSelected">Displaying month: {{selectedMonth.title}}</h6>
    <div class="col-md-4">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdown" ngbDropdownToggle>Select Month</button>
        <div ngbDropdownMenu aria-labelledby="dropdown">
          <button class="dropdown-item" (click)="onSelectMonth()">Show all</button>
          <button *ngFor="let month of months" class="dropdown-item" (click)="onSelectMonth(month)">{{month.title}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="addTransaction()">Add Transaction</button>
    </div>
  </div>
  <ul class="list-group">
    <li *ngFor="let transaction of shownTransactions" class="list-group-item list-group-item-action" (click)="navigateToTr($event,transaction)">
      <div class="row">
        <div class="col-md-4">{{transaction.title}}</div>
        <div class="col-md-4">{{transaction.readableDate}}</div>
        <div class="col-md-3">{{transaction.amount}}</div>
        <button id="delete-transaction" class="btn btn-sm btn-primary" (click)="testFunc($event)">X</button>
      </div>
    </li>
  </ul>
</div>