<div>
  <div class="row">
    <h2 class="col-md-4">My Transactions</h2>
    <div class="col-md-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdown" ngbDropdownToggle>{{monthDdTitle}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdown">
          <button class="dropdown-item" (click)="onSelectMonth()">Show all</button>
          <button *ngFor="let month of months" class="dropdown-item" (click)="onSelectMonth(month)">{{month.title}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdown" ngbDropdownToggle>{{categoryDdtitle}}</button>
        <div ngbDropdownMenu aria-labelledby="dropdown">
          <button class="dropdown-item" (click)="onSelectCategory()">Show all</button>
          <button *ngFor="let category of categories" class="dropdown-item" (click)="onSelectCategory(category)">{{category.name}}</button>
        </div>
      </div>
    </div>
    <div class="col-auto ml-auto">
      <button class="btn btn-primary" (click)="addTransaction()">Add Transaction</button>
    </div>
  </div>
  <ul class="list-group">
    <li *ngFor="let transaction of shownTransactions" class="list-group-item list-group-item-action" (click)="navigateToTr($event,transaction)">
      <div class="row">
        <div class="col-md-4">{{transaction.title}}</div>
        <div class="col-md-4">{{transaction.readableDate}}, {{transaction.readableTime}}</div>
        <div class="col-md-3">
          <p [class]="transaction.amount > 0 ? 'text-success' :'text-danger'">{{transaction.amount}}</p>
        </div>
        <span class="d-flex align-items-center">
          <i id="delete-transaction" class="material-icons">
            remove_circle
          </i>
          <i id="edit-transaction" class="material-icons">
            edit
          </i>
        </span>
      </div>
    </li>
  </ul>
</div>