<div>
  <div class="row">
    <h2 class="col-md-10">My Transactions</h2>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="addTransaction()">Add Transaction</button>
    </div>
  </div>
  <div class="list-group">
    <a *ngFor="let transaction of transactions" class="list-group-item list-group-item-action" routerLink="/transactions/{{transaction.id}}">
      <b>{{transaction.title}}
        <br>
      </b>
      <span>{{transaction.readableDate}}</span>
    </a>
  </div>
</div>