<div class="col-md-8 offset-md-2">
  <h2 style="margin-bottom: 20px;">Create new transaction</h2>
  <form accept-charset="UTF-8" role="form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="form-group">
        <input class="form-control" type="text" id="title" placeholder="Title" required [(ngModel)]="title" name="title">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" id="amount" placeholder="Amount" [(ngModel)]="amount" name="amount">
      </div>
      <div class="form-group">
        <div class="input-group row align-items-center">
          <div class="col-md-7">
            <input class="form-control" placeholder="yyyy-mm-dd" name="date" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" (focus)="d.toggle()">
          </div>
          <div class="col-md-5">
            <ngb-timepicker [(ngModel)]="time" name="time" id="time"></ngb-timepicker>
          </div>
        </div>
      </div>
    </fieldset>
    <input class="btn btn-danger" type="button" value="Cancel" style="margin-right: 10px;" (click)="onCancel()">
    <input class="btn btn-success" type="submit" value="Create">
  </form>
</div>